**/fonts/**/style.css
**/jquery-3.6.0.min.js
**/jquery-3.6.0.min.js.map
**/simplebar.min.js
**/simplebar.css
**/bootstrap-datetimepicker.min.js
**/bootstrap.min.js
**/moment-with-locales.min.js
**/bootstrap-datetimepicker.min.css
**/bootstrap.min.css